@model PharmacyManagementSystem.Models.CreateBill

@{
    ViewBag.Title = "ShowBill";
}



<div id="CustomerBill" style="align-content:center">
    <h1>Pharmacy Management System</h1>
    <p>Customer Receipt</p>
    <table class="table table-bordered" style="margin-bottom:20px">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Unity Price</th>
            <th>QTY</th>
            <th>Total</th>
        </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.billList)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Category)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.Discount)</td>
                    <td>@Html.DisplayFor(modelItem => item.SubTotal)</td>
                </tr>}
            <tbody>
</table>
    <dl class="dl-horizontal">
        <dt>SubTotal</dt>
        <dd>@Model.SubTotal</dd>
        <dt>Discount</dt>
        <dd>@Model.Discount</dd>
     
        <dt>Grand Total</dt>
        <dd>@Model.GrandTotal</dd>
    </dl>
</div>