@model PharmacyManagementSystem.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   @* <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <section id="loginForm">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                  
                  
                

                    <div class="form-group">
                        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                            </div>
                        </div>
                    </div>





                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </span>
                            @Html.TextBoxFor(m => m.GmailAccount, new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-6 control-label" })
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <a href="/Account/Login" class="btn btn-default">Back To Login</a>
                        </div>
                        <div class="col-sm-6">
                            <input type="submit" value="Register" class="btn btn-success" />
                        </div>
                    </div>



                }
            </section>
        </div><!-- /card-container -->
    </div>*@

    
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/LoginUI/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginUI/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginUI/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginUI/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginUI/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginUI/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginUI/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginUI/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginUI/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/LoginUI/css/main.css">

    @*Login card final start*@
  @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
  {
        @Html.AntiForgeryToken()
        <div class="limiter">
            <div class="container-login100" @*style="background-@image: url('images/bg-01.jpg');"*@
                 >
                <div class="wrap-login100">
                    <form class="login100-form validate-form">
                        <span class="login100-form-logo">
                            <i class="zmdi zmdi-landscape"></i>
                        </span>

                      
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.GmailAccount, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                       
                        <span class="login100-form-title p-b-34 p-t-27">
                           Register
                        </span>

                          <div class="wrap-input100 validate-input" data-validate="Enter username">
                            <input class="input100" type="text" name="Username" id="Username" placeholder="Enter Username">
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>

                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter username">
                            <input class="input100" type="text" name="Email" id="Email" placeholder="Enter Email">
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>

                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter username">
                            <input class="input100" type="email" name="GmailAccount" id="GmailAccount" placeholder="Enter GmailAccount">
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>

                        </div>

                        

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="ConfirmPassword">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" type="password" name="Password" id="Password" placeholder="Password">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>

                      

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Register
                            </button>
                        </div>
                        
 <div class="text-white text-center">

                            <span class="margin-left:15px">@Html.ActionLink("Back to Login", "Login", null, new { @class = "text-white" })</span>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    <!-- page-body-wrapper ends -->
    @*login card final end*@
    <!--===============================================================================================-->
    <script src="~/LoginUI/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginUI/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginUI/vendor/bootstrap/js/popper.js"></script>
    <script src="~/LoginUI/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginUI/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginUI/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/LoginUI/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginUI/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginUI/js/main.js"></script>

</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
